@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

a, button {
   cursor: pointer;
}

body {
   background: #250057;
}

.input-box {
   background: #fff;
   width: 90%;
   max-width: 500px;
   border-radius: 5px;
   padding: 10px 20px;
   margin: 300px auto;
   display: flex;
   align-items: center;

   input {
      width: 100%;
      padding-block: 10px;
      border: 0;
      outline: 0;
      font-size: 24px;
      color: #555;
   }

   img {
      width: 35px;
      cursor: pointer;
   }
}